body {
	background-image:url(../images/fond.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #b6b6b6;
	margin: 10px;
	color: white;
	font-family: 'runique', Arial, serif;
	font-size:20px;
}
table{
	border-width:1px; 
	border-style:solid; 
	border-color:black;
	width:75%;
	background-color:rgba(255,255,255,0.5);
	font-size:32px;
}
td{
	border-width:1px; 
	border-style:solid; 
	border-color:black;
	font-size:24px;
}
a:hover{background: none;}
.barre{background: #F2F2F2;font-size: 17px;}
.title{color: red;}
.word{color: white;font-weight: bold;}
/*Page d'inscription*/
#pseudo{color: black;text-align: center;font-size: 25px;}
#mdp{color: black;text-align: center;font-size: 25px;}
#mdp2{color: black;text-align: center;font-size: 25px;}
#valider{text-align: center;}
#reponse{text-align: center;font-size: 20px;}
/**/
.row{text-align: center;}
#button{text-align: center;}
/*Page de connexion*/
#login{color:black;text-align: center;font-size: 25px;}
#password{color:black;text-align: center;font-size: 25px;}
/**/
/*Page de profil*/
#pseudoP{color: limegreen;text-align: center;font-size: 25px;}
/**/
@font-face {
	font-family: 'runique';
    src: url('../styles/runique.ttf');
}
#gameName{color: black;text-align: center;font-size: 25px;}
.join_column{width:11%;}
.spectate_column{width:15%;}
.name_column{width:30%;}
.p1_column{width:11%;}
.p2_column{width:11%;}
.p3_column{width:11%;}
.p4_column{width:11%;}
#container{width:100%;height:90%;}
#left{float:left;width:25%;height:700px;color: black;text-align: center;font-size: 25px;margin-top:25%;}
#right{float:right;width:25%;height:700px;color: white;text-align: center;font-size: 25px;margin-top:20%;}
#center{margin:0 auto;width:50%;color: black;text-align: center;font-size: 25px;}