<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="styles/index.css">
<base target="_parent" />
<!-- jQuery -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<!-- Code local -->
<script src="js/common.js"></script>
<script type="text/javascript">
	function filter(idCookie){
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : "v1/connect/check",
			dataType : "json",
			data : JSON.stringify({
				"id" : idCookie
			}),
			success : function(data, textStatus, jqXHR) {
				if(!data.success){//si l'user est un visiteur
					$("#nav_deconnexion").hide();
					$("#nav_connexion").show();
					$("#nav_inscription").show();
				}else{
					$("#nav_connexion").hide();
					$("#nav_inscription").hide();
					$("#nav_deconnexion").show();
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				alert('postUser is connected error: ' + textStatus);
			}
		});
	}
	function preloadFunc(){
		filter(readCookie("id"));
	}
	$(document).ready(function(){preloadFunc();});
</script>
<body>
	<nav class="navbar navbar-default barre">
			<div class="container-fluid">	
				<div class="navbar-header">
					<a href="index.html"> <img src="images/banniere.png" alt="Banniere du site" style="width:100px"> </a>
					<a> &nbsp; &nbsp;  </a>
				</div>			
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li id=nav_index><a href="index.html">Accueil</a></li>
						<li id=nav_connexion><a href="connexion.html">Connexion</a></li>
						<li id=nav_deconnexion><a href="logout.html">Deconnexion</a></li>
						<li id=nav_inscription><a href="inscription.html">Inscription</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li id=nav_jdlv><a href="Jeu.html">Jeu</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
							<li id=nav_contact><a href="contact.html">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
	</nav>
</body>
<script>
	//si la page actuelle est l'index, mettre l'index en surbrillance dans la barre de navigation
	if(new RegExp("index.html").test(parent.document.location.href)){
		//alert("index");
		var sheet = document.createElement('style')
		sheet.innerHTML = "#nav_index{class:active;}";
		document.body.appendChild(sheet);
	}
	if(new RegExp("connexion.html").test(parent.document.location.href)){
		document.getElementById('nav_connexion').class="active";
		//alert(document.getElementById('nav_connexion').class);
	}
	if(new RegExp("inscription.html").test(parent.document.location.href)){
		$("#nav_inscription").class="active";
	}
</script>